.cards__like {
  align-self: center;
  margin: 0;
  padding: 0 0 0 10px;
  border: 0;
  min-width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-color: rgba(0, 0, 0, 0);
  transition: .3s opacity;
  cursor: pointer;
}

.cards__like:hover {
  opacity: .5
}
