.form__heading {
    font-family: inherit;
    font-size: 24px;
    font-weight: 900;
    line-height: 100%;
    margin: 0;
}

@media screen and (max-width: 560px) {
    .form__heading {
        font-size: 18px;
    }
}